<ion-view hide-back-button="false" title="Locales"  hide-nav-bar="false"  can-swipe-back="true"  on-swipe-right="swipe('right')">

	<ion-nav-bar class="bar-light pinro-header header-shadow">
      <ion-nav-back-button class="button-icon button-clear">
        <i><img src="img/icons/icon_back.png" width="24px"></i>
      </ion-nav-back-button>

    </ion-nav-bar>

	<ion-content ng-init="locales()">

		<ion-refresher
		    pulling-text="Actualizar..."
		    on-refresh="doRefresh()">
		</ion-refresher>
      	<div class="row">
        	<div class="col col-33" ng-repeat="(slug, datos) in locales" style="min-height: 70px">
				<div style="width: auto; min-height: 70px" class="card card-margin">
					<a ui-sref="app.local({local:slug,slug:shopp})">
							 <div class="item item-divider" style="min-height: 70px">
							    <center><img src="{{ datos.perfil.avatar || 'img/dezling-logo.png' }}" width="100%" height="auto" style="vertical-align: text-top;"></center>
							 </div>
					</a>
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>