<ion-view hide-back-button="false" title=""  hide-nav-bar="false"  can-swipe-back="true"  on-swipe-right="swipe('right')">

	<ion-nav-bar class="bar-light pinro-header header-shadow">
		<!--
      <ion-nav-back-button class="button-icon button-clear">
        <i><img src="img/icons/icon_back.png" width="24px"></i>
      </ion-nav-back-button>	
		-->
	
      <ion-nav-buttons side="left">
	      <button class="button buttons button-icon button-clear header-item" ng-click="$ionicGoBack()">
	        <i><img src="img/icons/icon_back.png" width="24px"></i>
	      <span class="back-text"></span></button>
	  </ion-nav-buttons>
	  
      <ion-nav-buttons side="right">
        <button title="Marcar como Favorito" class="button button-icon button-clear button-heart" ng-click="GuardarFav('centros_comerciales_local', shopp, local1)">
          <i ng-class="{'icon-heart-filled': !favorito,
                	'icon-heart-broken black' : roto, 
                    'icon-heart-filled red': favorito, }" style="font-size: 25px;"></i></button>
      </ion-nav-buttons>

    </ion-nav-bar>

	<ion-content class="cart"  ng-init="local()" >
		   <ion-refresher
		      pulling-text="Actualizar..."
		      on-refresh="doRefresh()">
		    </ion-refresher>
		    <div ng-show="es_destacado && local.perfil.banners_destacados.banner1 != '' "><!--ng-show="es_destacado"-->
				<ion-slides options="options" slider="sliderDelegate" style="height: 220px !important;">
	                <ion-slide-page ng-repeat="item in banners_destacados">
						<a ng-click="showImages(0, item)"><img src="{{item}}" width="100%"></a>
	                </ion-slide-page>
	            </ion-slides>
	        </div>


            <div class="card-detalle">

                <!-- <div class="card-image">
                    <img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=-25.342142, -57.556289&zoom=16&markers=color:transparent|-25.342142,-57.556289&size=555x80&markers=size:tiny"> 
                    <span class="card-header">{{shopping.perfil.nombre}}</span>
                </div>
                -->
                <span class="card-header">{{local.perfil.nombre}}</span>
                <div class="card-content" style="background: url(https://maps.googleapis.com/maps/api/staticmap?center={{shopping.perfil.mapa.latitud}},{{shopping.perfil.mapa.longitud}}&zoom=15&markers=icon:https://image.flaticon.com/icons/png/24/61/61159.png|{{shopping.perfil.mapa.latitud}},{{shopping.perfil.mapa.longitud}}&size=555x140&markers=size:tiny); background-size:cover;background-clip: padding-box;box-shadow: inset 350px -110px 100px -100px rgba(255,255,255,1);">
                	<!-- <div class="card-image">
                    	<img class="img-responsive" src="https://maps.googleapis.com/maps/api/staticmap?center=-25.342142, -57.556289&zoom=16&markers=color:transparent|-25.342142,-57.556289&size=555x80&markers=size:tiny"> 
                    </div>
                    -->
	                <div class="card-action  text-left">
	                    <i class="icon_set_1_icon-91" style="font-size: 16px"></i> Teléfono: {{local.perfil.numero_telefono}}
	                </div>
	                <div class="card-action  text-left">
	                    <i class="icon_set_1_icon-84" style="font-size: 16px"></i> Email: <a href="mailto:{{local.perfil.email}}"">{{local.perfil.email}}</a>
	                </div>
	                <div class="card-action  text-left">
	                    <i class="icon_set_1_icon-37" style="font-size: 16px"></i> Piso: {{local.perfil.piso}} Local: {{local.perfil.local}}
	                </div>
	                <div style="margin:10px 0px;">
		                <div ng-show="abierto == true">
		                    <div class="alert-message alert-message-success">
	                			<span class="card-footer"><h4 class="text-left">Abierto Ahora!</h4></span>
	            			</div>
		                </div>
		                <div ng-show="abierto == false">
		                    <div class="alert-message alert-message-danger">
	                			<span class="card-footer"><h4 class="text-left">Cerrado Ahora!</h4></span>
	            			</div>
		                </div>
	                </div>
	            </div>
	        </div>
	        <div class="row" style="bottom: 0">
	        	<div class="col">
     				<button class="button button-dark button-block button-outline" ng-click="openHorario()"><i class="icon_set_1_icon-83" style="font-size: 16px"></i> HORARIOS DE ATENCIÓN</button>
     				<button class="button button-dark button-block button-outline" ui-sref="app.mapa_complejo({categoria:'shopping',slug:slug,svg:shopping.perfil.mapa_complejo})"><i class="icon_set_1_icon-37" style="font-size: 16px"></i> MAPA DEL COMPLEJO</button>
     				<button ng-show="local.perfil.puntos == 'true' || local.perfil.puntos == true" class="button button-dark button-block button-outline" ng-click="openBeneficiosModal(local.beneficios)">BENEFICIOS</button>
	        	</div>
	        </div>

	        <p class="script"><span>PROMOCIONES</span></p>
	        <div ng-if="promociones.length == 0">
		        <img ng-src="img/promo.png" width="10%">
		        <p>No hay promociones para mostrar</p>
	        </div>
			<div class="card" ng-repeat="(slug, datos) in promociones" style="background-color: #f5f5f5">
				<a ng-click="openPromocion(datos.texto.titulo,datos.texto.descripcion_larga,local.perfil.icono)">
				  	<div class="item item-divider"  style="background-image: url(img/promociones/{{ datos.categoria || '08' }}.png );  background-position: right; background-repeat: no-repeat; background-size: cover; padding: 0px !important; background-color: white; max-height: 100px; min-height: 100px;">
				      	<div class="row">
				          	<div class="col text-left">
							      <ion-item class="item-thumbnail-left item-text-wrap" style="background-color: transparent !important;padding-left: 115px;">
					              	<img src="{{ local.perfil.icono ||'img/dezling-logo.png' }}" width="auto" height="70px">
							        <h2 class="text-right">{{ local.perfil.nombre }}</h2>
							        <p class="text-right" style="margin-left: 12px">{{(datos.texto.descripcion | limitTo: 50) + (datos.texto.descripcion.length > 45 ? '...' : '')}}</p>
							      </ion-item>
				          	</div>
				      	</div>
				  	</div>
				  	<span class="card-footer" style="background-color: rgba(245, 245, 245, 0.5) !important; font-weight: bold;">{{ datos.texto.titulo }}</span>
				</a>
			</div>
	</ion-content>
</ion-view>