<ion-modal-view ng-controller="SettingsCtrl" class="settings">

<ion-header-bar class="pinro-header header-shadow">
    
      <button class="button button-icon icon ion-ios-arrow-back" ng-click="closeChangePasswordModal()"></button>
  
    <h1 class="title">Cambiar Contraseña</h1>
  </ion-header-bar>



 <form name="changePasswordForm"  novalidate >
        
	<ion-content>

<ion-list>

   
    
    <ion-item class="item-divider">
        Cambiar Contraseña
    </ion-item>
    <!--<ion-item class="item-input ">
        <span class="input-label">New</span>
        <input type="password" ng-model="user.password" required>
    </ion-item>
    <ion-item class="item-input " ng-class="{'has-errors': user.password != confirm_pass}">
        <span class="input-label">Retype</span>
        <input type="password" ng-model="confirm_pass" required>
    </ion-item>-->
    

    
    <ion-item class="item-input ">
					<input class="text-left" type="password" name="new_password" placeholder="Nueva Contraseña" ng-model="user.password" required>

				</ion-item>
				<ion-item class="item-input " ng-class="{'has-errors': changePasswordForm.confirm_pass3.$error.match}">
					<input class="text-left" type="password" name="confirm_pass3"  placeholder="Repetir Nueva Contraseña" ng-model="confirm_pass" ng-match="user.password" required>
				</ion-item>
    
   


    
    
    
			
</ion-list>

<div class="footer-button">
    <button class="button gradiente-1 button-block button-round"  ng-click="updateProfile()"  ng-disabled="changePasswordForm.$invalid">Guardar Cambios</button>
</div>

</ion-content>
 </form>
</ion-modal-view>