<ion-view hide-back-button="true" title="Promociones Cercanas"  hide-nav-bar="false"  can-swipe-back="false"  on-swipe="swipe()" scroll="false">

  <ion-nav-bar class="bar-light pinro-header header-shadow">
  </ion-nav-bar>
  <ion-content>

          <!-- PROMOCIONES  -->

          <div ng-repeat="item in lista_buscador">
            <div class="card" style="background-color: #f5f5f5">
              <a ng-click="openPromocion(item.texto.titulo,item.texto.descripcion,item.perfil.icono || item.avatar)">
                  <div class="item item-divider"  style="background-image: url(img/promociones/{{ item.categoria || '08' }}.png ); background-position: right; background-repeat: no-repeat; background-size: contain; padding: 0px !important; background-color: white; max-height: 109px;">
                      <div class="row">
                          <div class="col text-left">
                          <ion-item class="item-thumbnail-left" style="background-color: transparent !important;padding-left: 115px;">
                                <img src="{{ item.perfil.icono || item.avatar ||'img/dezling-logo.png' }}" width="auto" height="70px">
                            <h2 class="text-right">{{(item.nombre | limitTo: 30) + (item.nombre.length > 30 ? '...' : '')}}</h2>
                            <p class="text-right" style="margin-left: 12px; flex-wrap: wrap;">{{(item.texto.descripcion | limitTo: 60) + (item.perfil.nombre.length > 60 ? '...' : '')}}</p>
                          </ion-item>
                          </div>
                      </div>
                  </div>
                <span class="card-footer" style="background-color: rgba(245, 245, 245, 0.5) !important; font-weight: bold;">{{item.texto.titulo}}</span>
              </a>
            </div>
            <div class="card" ng-repeat="datos in item.promociones" style="background-color: #f5f5f5">
              <a ng-click="openPromocion(datos.texto.titulo,datos.texto.descripcion,item.perfil.icono || item.avatar)">
                  <div class="item item-divider"  style="background-image: url(img/promociones/{{ datos.categoria || '08' }}.png ); background-position: right; background-repeat: no-repeat; background-size: contain; padding: 0px !important; background-color: white; max-height: 109px;">
                      <div class="row">
                          <div class="col text-left">
                          <ion-item class="item-thumbnail-left" style="background-color: transparent !important;padding-left: 115px;">
                                <img src="{{ item.perfil.icono || item.avatar ||'img/dezling-logo.png' }}" width="auto" height="70px">
                            <h2 class="text-right">{{(item.perfil.nombre | limitTo: 30) + (datos.texto.descripcion.length > 30 ? '...' : '')}}</h2>
                            <p class="text-right" style="margin-left: 12px; flex-wrap: wrap;">{{(datos.texto.descripcion | limitTo: 60) + (item.perfil.nombre.length > 60 ? '...' : '')}}</p>
                          </ion-item>
                          </div>
                      </div>
                  </div>
                <span class="card-footer" style="background-color: rgba(245, 245, 245, 0.5) !important; font-weight: bold;">{{datos.texto.titulo}}</span>
              </a>
            </div>
          </div>

        </div>
        <div ng-show="lista_buscador.length == 0">
          <img style="margin-bottom: 10%; margin-top: 5%;" width="30%" src="img/sad-face.svg">
          <h3>No se encontraron resultados</h3>
        </div>
  </ion-content>
</ion-view>