<ion-view view-title="Forgot password" class="signin" >
<div class="bar bar-header pinro-header header-shadow">
 <button class="button button-icon icon ion-ios-arrow-back" ui-sref="signin"></button>
  <div class="h1 title">Olvide mi Contraseña</div>
</div>
	<ion-content class="has-header forgot-password">

<form name="resetPasswordForm" novalidate>

<h5 class="light-font">Te enviaremos un link a tu correo para que puedas cambiar tu contraseña.</h5>

		<div class="forgot-password-input">

			<ion-list>
				<ion-item class="item-input ">
					<i class="icon_set_1_icon-84" style="font-size: 20px"></i>
					<input type="text" placeholder="Email" ng-model="user.user_email" required>

				</ion-item>
			</ion-list>

		</div>

		<div class="footer-button">
			<h5 class="color-grapefruit m-t-b-0" ng-show="resetError"> {{resetError}}</h5>
			<h5 class="color-balance m-t-b-0" ng-show="resetSuccess"> {{resetSuccess}}</h5>

			<div class="animated bounceIn">
			<button class="button button-resetear button-block button-round "  ng-if="!resetSuccess" ng-disabled="resetPasswordForm.$invalid || disableSubmit" ng-click="resetPassword()">Enviar</button>
			<button class="button button-balance button-block button-round" ng-if="resetSuccess" ui-sref="signin">Iniciar Sesion</button>
			</div>
		</div>
		</div>


</form>
	</ion-content>
</ion-view>