<ion-view view-title="Signup" class="signin" >
<div class="bar bar-header pinro-header header-shadow">
 <button class="button button-icon icon ion-ios-arrow-back" ui-sref="signin"></button>
  <div class="h1 title">Registrarme</div>
</div>

<!--<div ng-include="'templates/common/loading.html'" ng-show="loading"></div>-->

	<ion-content class="has-header">
<form name="signForm"  novalidate >


		<div class="forgot-password-input">
			

			<ion-list>
				<ion-item class="item-input ">
					<i class="icon_set_1_icon-84" style="font-size: 20px;"></i>
					<input type="email" name="email" placeholder="Email"  ng-model="user.email" required>

				</ion-item>
				<ion-item class="item-input ">
					<i class="icon_set_1_icon-71" style="font-size: 20px;"></i>
					<input type="password" name="password" placeholder="********" ng-model="user.user_pass" required>

				</ion-item>
				<ion-item class="item-input " ng-class="{'has-errors': signForm.confirm_pass2.$error.match}">
					<i class="icon_set_1_icon-71" style="font-size: 20px"></i>
					<input type="password" name="confirm_pass2"  placeholder="********" ng-model="confirm_pass" ng-match="user.user_pass" required>

				</ion-item>
				<!--
                <ion-item class="item-input ">
					<i class="icon_set_1_icon-70" style="font-size: 20px"></i>
					<input type="text" name="username" placeholder="Nombre de Usuario" ng-model="user.username" required>

				</ion-item>
				-->

			</ion-list>
			

		</div>
		<div class="footer-button">
			<h5 class="color-grapefruit m-t-b-0" ng-show="signUpError"> {{signUpError}}</h5>
			<button style="border-color: black;" class="button button-dark button-block button-round animated bounceIn" ng-click="Registrarse(user.email,user.user_pass)" ng-disabled="signForm.$invalid">Registrarme</button>
      
	  <a class="button button-clear button-full button-stable" ui-sref="app.editorial">Entrar sin registrarme</a>
	  <h5 class="light-font" ui-sref="signin">Ya tengo una cuenta. <span class="semibold-font">Ingresar</span></h5>
		
		<!--terms-->
		<p class="padding light-font color-warm-grey" ng-click="openTermsModal()">Terminos &amp; Condiciones</p>
		
		</div>




		</div>


</form>
	</ion-content>
</ion-view>